* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d4d7dd;
  color: #333;
  box-sizing: border-box;

}

.App {
  text-align: left;
}


