.container {
  background-color: #fff;
  width: 50%;
  margin: 4rem auto;
  padding: 1.2rem 2rem;
  border-radius: 8px;
  box-shadow: 0px 14px 14px #ccc;
}

.mark-all {
  margin-top: 1rem;

  & > :first-child {
    margin-right: 1rem;
    color: #00bdaa;
    border-bottom: 2px solid transparent;
    
      &:hover {
        border-bottom: 2px solid #00bdaa;
      }
    
    & > :first-child {
      margin-right: .3rem;
    }
  }

  & > :last-child {
    margin-right: 1rem;
    color: #f77754;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid #f77754;
    }

    & > :first-child {
      margin-right: .3rem;
    }
  }

  &__btn {
    all: unset;
    font-size: .8rem;
    cursor: pointer;
  }

}

.todos {
  margin-top: 2rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.line-break {
  border-bottom: 1px solid #f2f2f2;
  margin: 1rem 0 1rem 0;
}

.footer {
  display: flex;
  justify-content: space-between;

  &__btn {
    all: unset;
    font-size: 0.9rem;
    cursor: pointer;

    &:disabled {
      color: #e1e1e1;
    }
  }

  &__info {
    all: unset;
    font-size: 0.9rem;
  }

}

span {
  font-weight: 600;
}

